@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MyApp.Pages.People.DetailsModel
@attribute [Authorize]

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Person Details</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-4">Personal Information</h5>
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                Full Name
            </dt>
            <dd class="col-sm-9">
                @Model.Person.FirstName @Model.Person.LastName
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                Birthdate
            </dt>
            <dd class="col-sm-9">
                @Model.Person.DateOfBirth.ToString("dd-MM-yyyy")
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                Gender
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Person.Gender)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                Phone Number
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Person.PhoneNumber)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                Email Address
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Person.Email)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4 d-flex gap-2">
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>